.sidebar-brand img.feather {
  height: 24px;
  width: auto;
}

.invalid-feedback {
  display: block;
}

.table-action {
  white-space: nowrap;
  width: 150px;

  a:hover {
    text-decoration: none;
  }
}
