<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= input f, :email %>
  <%= input f, :full_name %>
  <%= input f, :company_name %>

  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>
