<section class="legal-text">
  <div class="container">
    <p>Copyright 2018 Bryxen, Inc. All rights reserved worldwide.</p>

    <p>testly.com is an registered trademark of Bryxen, Inc. All other trademarks are the property of their respective owners.</p>
  </div>
</section>
