.hero-content {
  width: 50%;

  position: relative;

  z-index: 5;

  @include r(880) {
    width: 100%;

    text-align: center;
  }
}

.hero-caption {
  font-size: 36px;
  font-weight: 400;
  color: #fff;

  @include r(400) {
    font-size: 28px;
  }
}

.hero-desc {
  margin: 25px 0;
  font-size: 17px;
  line-height: 1.5;
  color: #fff;

  @include r(400) {
    font-size: 15px;
  }
}